/bayesian_multiparameter/main_letter_revisited.pdf
/bayesian_multiparameter/main_letter_revisitedNotes.bib
/bayesian_multiparameter/supplementary_revisited.pdf
/bayesian_multiparameter/supplementary_revisitedNotes.bib
/bayesian_multiparameter/*.out
/bayesian_multiparameter/*.aux
/bayesian_multiparameter/*.synctex.gz
/bayesian_multiparameter/*.bbl
/bayesian_multiparameter/*.blg



